/********************************************************************************************/
/* Belly Button Biodiversity      
/* This CSS file contains all styles for the html page.
/********************************************************************************************/

.bio-header {
    background-image: url('../images/bacteria_by_filterforgedotcom.jpg');
    height: 100px;

}

.bio-text {
  font-size: 120%;
}

.panel-color {
  background-color: lightgoldenrodyellow
}

.panel-header-color {
  background-color: rgb(224, 224, 116)
}